@import URL("./reset.css");
@import URL("./tokens.css");

body {
  font-family: "Gotham Rounded", "Foco", Helvetica, sans-serif;
  font-size: 100%;
  color: var(--color-dark);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.4rem;
}

/* COMMON HEADER */
#common-header {
  background-color: var(--color-light);
  height: 70px;
  padding: var(--padding-xl);
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
  padding: 0 10%;
  position: sticky;
  top: 0px;
}

#common-header .brand {
  max-width: 140px;
}
#common-header .wrap-logo-search {
  display: flex;
  gap: 3rem;
}

#common-header .main-menu ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

#common-header .main-menu ul li a {
  color: var(--color-secondary);
  font-size: 0.75rem;
  text-transform: uppercase;
  transition: all ease-out 0.3s;
  position: relative;
}

#common-header .main-menu ul li a:hover {
  color: var(--color-secondary);
  filter: brightness(0.7);
  transition: all ease-in 0.3s;
}

#common-header .main-menu ul li a:before {
  content: "";
  display: block;
  position: absolute;
  width: 0%;
  height: 3px;
  background: var(--color-primary);
  left: 0;
  bottom: -29px;
  transition: all 0.2s ease;
}

#common-header .main-menu ul li a:hover:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  background: var(--color-secondary);
  left: 0;
  transition: all 0.2s ease;
}

#common-header .wrap-search {
  display: flex;
  justify-content: space-between;
  background: var(--color-white);
  border: 1px solid var(--color-border);
  border-radius: var(--rounded-sm);
  align-items: center;
  padding: 1px;
  width: 400px;
  height: 40px;
  transition: all 0.2s ease;
}

#common-header .wrap-search:focus-within {
  width: 460px;
  transition: all 0.2s ease;
}

#common-header .wrap-search .form-search {
  background: transparent;
  border: none;
  min-width: 80%;
}

#common-header .wrap-search a {
  background: var(--color-primary);
  display: flex;
  width: 50px;
  height: calc(40px - 4px);
  border-radius: 0 3px 3px 0;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  transition: all 0.3s ease;
}

#common-header .wrap-search a:hover {
  filter: brightness(1.2);
  transition: all 0.3s ease;
}

/* COMMONS ELEMENTS */
.form-search {
  background: var(--color-white);
  border: 1px solid var(--color-border);
  border-radius: var(--rounded-sm);
  padding: var(--padding-sm) var(--padding-lg);
  min-width: calc(var(--w-base) * 3);
  transition: border 0.6s ease;
}

.form-search:focus {
  border: 1px solid var(--color-primary);
  transition: border 0.2s ease;
}

.wrap {
  max-width: 1232px;
  margin: 0rem auto 0rem auto;
  padding: 2rem 0;
}
.wrap p {
  margin-bottom: calc(var(--margin-xl) * 1.8);
  font-weight: normal;
  line-height: 1.5;
}

.banner {
  border: 1px solid #ddd;
  border-radius: var(--rounded-md);
  background: linear-gradient(45deg, #f8f8f8, transparent);
  padding: 3rem;
  margin-bottom: 2rem;
}

.display-1 {
  font-size: calc(var(--font-md) * 8.4);
  line-height: 1.2;
  padding-top: 0.5rem;
  margin-bottom: 0.25rem;
  background: linear-gradient(to right, #f92420, #9c27b0);
  background-clip: text;
  color: transparent;
  letter-spacing: -1px;
}
.display-2 {
  font-size: calc(var(--font-lg) * 3.4);
  line-height: 1.2;
  color: #384df1;
  margin-bottom: 1rem;
}

.btn-cta-banner {
  background-color: #00b835;
  color: #fff;
  border: none;
  padding: 0.85rem 2rem;
  font-size: calc(var(--font-lg) * 1.5);
  font-family: "Gotham Rounded", Arial, sans-serif;
  border-radius: var(--rounded-sm);
  width: 100%;
  max-width: 240px;
  transition: all 0.3s ease;
}

.btn-cta-banner:hover {
  background-color: #02982c;
  cursor: pointer;
  transition: all 0.3s ease;
  padding-left: 3rem;
}

.hamburguer {
  display: none;
}

@media (max-width: 768px) {
  .hamburguer {
    display: flex;
    border-radius: 3px;
    width: 40px;
    height: 40px;
    margin-top: 0;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    background: var(--color-white);
  }

  #common-header {
    flex-direction: column;
    padding: 0;
  }

  #common-header .main-menu {
    width: calc(100% - 1rem);
    display: flex;
    align-items: center;
    flex-direction: column;
    background: transparent;
    position: relative;
    top: -90px;
    padding: 1rem 0;
  }

  #common-header .main-menu ul {
    width: 100%;
    flex-direction: column;
    border-radius: 0.25rem;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    gap: 0;
  }

  #common-header .main-menu #list-menu {
    height: 0;
    overflow: hidden;
    transition: all ease 0.3s;
    top: -100px;
    position: relative;
  }
  #common-header .main-menu #list-menu.show-toggle {
    height: auto;
    overflow: visible;
    transition: all ease 0.3s;
    top: 0px;
    position: relative;
  }

  #common-header .main-menu ul.show {
    height: 10px;
  }

  #common-header .main-menu ul li a {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 1.6rem 0;
  }

  #common-header .main-menu ul li a:hover:before {
    display: none;
  }

  #common-header {
    min-height: 120px;
  }

  #common-header .wrap-logo-search {
    gap: 1rem;
    width: 100%;
    padding: 0.75rem;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  #common-header .wrap-search {
    width: 100%;
  }
  .wrap {
    max-width: 1232px;
    margin: 0rem auto 0rem auto;
    padding: 1rem 1rem;
  }

  .banner {
    padding: 1rem;
  }

  .banner .display-1 {
    font-size: 1.7rem;
    margin-bottom: 1rem;
  }
  .banner .display-2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  .banner .btn-cta-banner {
    max-width: 100%;
  }
}
